# Vivado temporary and build files
*.jou
*.log
*.str
*.zip
*.csv
*.rpt
*.pb
*.html
*.xml
*.data
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.Xil/
*.sdk/
*.srcs/sources_1/ip/
*.srcs/sources_1/bd/
*.srcs/sources_1/ipshared/
*.srcs/sim_1/
*.srcs/constrs_1/imports/
*.srcs/utils_1/
*.tmp
*.bak
*.swp
.DS_Store

